@import url(public.css);

#top-box{
    background:#333;
    width:100%;
    height:37px;
    border-bottom:1px solid #e0e0e0;
}
#top-box .top span{
    margin-left:14px;
    margin-right:14px;
    color:#dfdfdf;
}
#top-box .top a:hover {
    color:#fff;
}
#top-box .top a{
    font-size:12px;
    color: #B0B0B0;
}
.top{
    width:1240px;
    height:100%;
    line-height:37px;
    overflow: hidden;
    margin:0 auto;
}

@media screen and (max-width:1240px) {
    .top{
        width:992px;
    }
}


#top-box .top .top-left{
    width:auto;
    height:100%;
    float:left;
    overflow: hidden;
}
#top-box .top .top-right{
    width:auto;
    height:100%;
    float: right;
    overflow: hidden;
}
@media screen and (max-width:992px) {
    .top {
        width: 500px;
    }
    #top-box .top .top-left{
        width: 300px;
    }
}

/*logo start*/
.logo-box{
    width:1240px;
    height:110px;
    margin:0 auto;
}
@media screen and (max-width:1240px) {
    .logo-box{
        width:992px;
        height:110px;
        margin:0 auto;
    }
}

.logo{
    width:70px;
    height:70px;
    overflow:hidden;
    margin-top:25px;
    float:left;
}
.logo img{
    width:100%;
}
.logo-right{
    width:560px;
    height:100%;
    float:right;
}
.logo-right .nz{
    float:right;
    height:20px;
    padding:17px 0 18px 0;
    width:auto;
}

.logo-right .nz a{
    padding-left:20px;
    background:url(../images/nz.gif) no-repeat 0 center;

}
.logo-right .nz a:hover{
    color:#ff4a00;
    background-image:url(../images/nz1.gif);
}


.logo-right .so{
    width:100%;
    height:50%;

    float:right;
}
.logo-right .so .so-b-l{
    width:auto;
    float:left;
}
.logo-right .so .so-b-l input{
    width:385px;
    height:38px;
    border:1px solid #DFDFDF;

}
.logo-right .so .so-b-l input:hover{
    border:1px solid #ff4a00;

}
.logo-right .so .so-b-l-a{
    height:38px;
    width:36px;
    border:1px solid #dfdfdf;
    float:left;
    border-left:none;
    background:#FAFAFA url(../images/sss.png) no-repeat 50% 50%;
}
.logo-right .so .so-b-l-a:hover{
    border:1px solid #ff4a00;
    background:#ff4a00 url(../images/ssss.png) no-repeat 50% 50%;
}
.logo-right .so .so-b-l-a img{
    height:18px;
    margin:10px;

}
.logo-right .so .so-b-car{
    float:right;
    border:1px solid #ffdb3d;
    padding-left:20px;
    width:104px;
    height:38px;
    line-height:38px;
    text-align:center;
    background:#ffdb3d url(../images/gwc.png) no-repeat 30px center;
}
.logo-right .so .so-b-car:hover{
    color:#ff4a00;
    border:1px solid red;
    background:#fff url(../images/gwc.jpg) no-repeat 30px center;
}

@media screen and (max-width:992px) {
    .logo-box{
        width:500px;
        height:110px;
        margin:0 auto;
    }
    .logo-right{
        width: 360px;
    }
    .logo-right .so .so-b-l input{
        width: 185px;
    }
}
/*logo end*/
/*ba*/
.ba{
    width: 1240px;
    height:460px;
    margin: 0 auto;
    overflow: hidden;
    text-align:left;
}
.ba-left{
    width: 240px;
    height: 100%;
    float: left;
    overflow: hidden;
    padding-top: 22px;
    background:#333;
}
.ba-right{
    width: 1000px;
    height: 100%;
    float: left;
    background: turquoise;
}
@media screen and (max-width:1240px) {
    .ba{
        width: 992px;
        height: 369px;
    }
    .ba-right{
        width:752px;
        height:369px;

    }
}
@media screen and (max-width:992px) {
    .ba{
        width: 500px;
        height:155px;
    }
    .ba-right{
        width:260px;
        height:155px;

    }
}
.ba-left a{
    display: block;
    padding-left: 34px;
    width: 100%;
    height: 43px;
    color: #fff;
    line-height: 43px;
}
.ba-left a:hover{
    background: #FF6700;
    color:#fff;
}
.ba-left a span{
    width: 20px;
    height: 43px;
    text-align: center;
    font-size: 18px;
    float: right;
    margin-right: 56px;
}

.out{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.out .imgs{
    width: 100%;
    height: 100%;
    font-size: 0px;

}
.out .imgs img{
    width: 100%;
    height: 100%;
    float:left;
    position: absolute;
    top: 0;
    left: 0;
}

.out .btn{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 99;

}
.left{
    width: 60px;
    height: 80px;
    margin: 10px 0 10px 20px;
    line-height: 80px;
    text-align: center;
    font-size: 80px;
    font-family: 'ºÚÌå';
    float: left;
    opacity: 0.8;
    cursor: pointer;
}
.left:hover{
    background: #ccc;
}
.right{
    width: 60px;
    height: 80px;
    margin: 10px 20px 10px 0;
    line-height: 80px;
    text-align: center;
    font-size: 80px;
    font-family: 'ºÚÌå';
    float: right;
    opacity: 0.8;
    cursor: pointer;
}
.right:hover{
    background: #ccc;
}
.num{
    width: 200px;
    height: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity:0.5;
    line-height: 20px;
    text-align: center;
    color: #000;
}
.num li{
    float: left;
    width: 15px;
    height: 15px;
    margin:0 10px;
    box-sizing: border-box;
    background: #214F98;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor:pointer;
}
.num li:hover{
    background: #888;
}
.num .hot{
    background:#888;
}
.kf{
    width: 1240px;
    height: 171px;
    overflow: hidden;
    margin:0 auto;
    margin-top: 15px;
}
.kf-a{
    width: 240px;
    height: 100%;
    float: left;
}
.kf-a img{
    width: 100%;
    height:100%;
}
.kf-b{
    width: 1000px;
    height: 171px;
    float: right;
}
.kf-b img{
    width: 317px;
    height: 171px;
    float: right;
    margin: 0 0 0 12px;
}
@media screen and (max-width:1240px) {
    .kf{
        width: 992px;
    }
    .kf-b{
        width:752px;
    }
    .kf-b img{
        margin: 0 0 0 50px;
    }
}
@media screen and (max-width:992px) {
    .kf{
        width: 500px;
    }
    .kf-b{
        width:260px;
    }
    .kf-b img{
        width: 260px;
       margin: 0;
    }
}

/**/
/*???*/
.container {
    width: 500px;
    height: auto;
    margin: 0 auto;
}
.container > .row {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container > .fulid {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.container-fulid > .row {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*§³??*/
.container > .row > .col-s-1 {
    float: left;
    height: 100%;
    width: 5%;
}
.container-fulid > .row > .col-s-1 {
    float: left;
    height: 100%;
    width: 5%;
}
.container > .row > .col-s-2 {
    float: left;
    height: 100%;
    width: 10%;
}
.container-fulid > .row > .col-s-2 {
    float: left;
    height: 100%;
    width: 10%;
}
.container > .row > .col-s-3 {
    float: left;
    height: 100%;
    width: 15%;
}
.container-fulid > .row > .col-s-3 {
    float: left;
    height: 100%;
    width: 15%;
}
.container > .row > .col-s-4 {
    float: left;
    height: 100%;
    width: 20%;
}
.container-fulid > .row > .col-s-4 {
    float: left;
    height: 100%;
    width: 20%;
}
.container > .row > .col-s-5 {
    float: left;
    height: 100%;
    width: 25%;
}
.container-fulid > .row > .col-s-5 {
    float: left;
    height: 100%;
    width: 25%;
}
.container > .row > .col-s-6 {
    float: left;
    height: 100%;
    width: 30%;
}
.container-fulid > .row > .col-s-6 {
    float: left;
    height: 100%;
    width: 30%;
}
.container > .row > .col-s-7 {
    float: left;
    height: 100%;
    width: 35%;
}
.container-fulid > .row > .col-s-7 {
    float: left;
    height: 100%;
    width: 35%;
}
.container > .row > .col-s-8 {
    float: left;
    height: 100%;
    width: 40%;
}
.container-fulid > .row > .col-s-8 {
    float: left;
    height: 100%;
    width: 40%;
}
.container > .row > .col-s-9 {
    float: left;
    height: 100%;
    width: 45%;
}
.container-fulid > .row > .col-s-9 {
    float: left;
    height: 100%;
    width: 45%;
}
.container > .row > .col-s-10 {
    float: left;
    height: 100%;
    width: 50%;
}
.container-fulid > .row > .col-s-10 {
    float: left;
    height: 100%;
    width: 50%;
}
.container > .row > .col-s-11 {
    float: left;
    height: 100%;
    width: 55%;
}
.container-fulid > .row > .col-s-11 {
    float: left;
    height: 100%;
    width: 55%;
}
.container > .row > .col-s-12 {
    float: left;
    height: 100%;
    width: 60%;
}
.container-fulid > .row > .col-s-12 {
    float: left;
    height: 100%;
    width: 60%;
}
.container > .row > .col-s-13 {
    float: left;
    height: 100%;
    width: 65%;
}
.container-fulid > .row > .col-s-13 {
    float: left;
    height: 100%;
    width: 65%;
}
.container > .row > .col-s-14 {
    float: left;
    height: 100%;
    width: 70%;
}
.container-fulid > .row > .col-s-14 {
    float: left;
    height: 100%;
    width: 70%;
}
.container > .row > .col-s-15 {
    float: left;
    height: 100%;
    width: 75%;
}
.container-fulid > .row > .col-s-15 {
    float: left;
    height: 100%;
    width: 75%;
}
.container > .row > .col-s-16 {
    float: left;
    height: 100%;
    width: 80%;
}
.container-fulid > .row > .col-s-16 {
    float: left;
    height: 100%;
    width: 80%;
}
.container > .row > .col-s-17 {
    float: left;
    height: 100%;
    width: 85%;
}
.container-fulid > .row > .col-s-17 {
    float: left;
    height: 100%;
    width: 85%;
}
.container > .row > .col-s-18 {
    float: left;
    height: 100%;
    width: 90%;
}
.container-fulid > .row > .col-s-18 {
    float: left;
    height: 100%;
    width: 90%;
}
.container > .row > .col-s-19 {
    float: left;
    height: 100%;
    width: 95%;
}
.container-fulid > .row > .col-s-19 {
    float: left;
    height: 100%;
    width: 95%;
}
.container > .row > .col-s-20 {
    float: left;
    height: 100%;
    width: 100%;
}
.container-fulid > .row > .col-s-20 {
    float: left;
    height: 100%;
    width: 100%;
}
/*????*/
@media screen and (min-width: 992px) {
    .container > .row > .col-m-1 {
        float: left;
        height: 100%;
        width: 5%;
    }
    .container-fulid > .row > .col-m-1 {
        float: left;
        height: 100%;
        width: 5%;
    }
    .container > .row > .col-m-2 {
        float: left;
        height: 100%;
        width: 10%;
    }
    .container-fulid > .row > .col-m-2 {
        float: left;
        height: 100%;
        width: 10%;
    }
    .container > .row > .col-m-3 {
        float: left;
        height: 100%;
        width: 15%;
    }
    .container-fulid > .row > .col-m-3 {
        float: left;
        height: 100%;
        width: 15%;
    }
    .container > .row > .col-m-4 {
        float: left;
        height: 100%;
        width: 20%;
    }
    .container-fulid > .row > .col-m-4 {
        float: left;
        height: 100%;
        width: 20%;
    }
    .container > .row > .col-m-5 {
        float: left;
        height: 100%;
        width: 25%;
    }
    .container-fulid > .row > .col-m-5 {
        float: left;
        height: 100%;
        width: 25%;
    }
    .container > .row > .col-m-6 {
        float: left;
        height: 100%;
        width: 30%;
    }
    .container-fulid > .row > .col-m-6 {
        float: left;
        height: 100%;
        width: 30%;
    }
    .container > .row > .col-m-7 {
        float: left;
        height: 100%;
        width: 35%;
    }
    .container-fulid > .row > .col-m-7 {
        float: left;
        height: 100%;
        width: 35%;
    }
    .container > .row > .col-m-8 {
        float: left;
        height: 100%;
        width: 40%;
    }
    .container-fulid > .row > .col-m-8 {
        float: left;
        height: 100%;
        width: 40%;
    }
    .container > .row > .col-m-9 {
        float: left;
        height: 100%;
        width: 45%;
    }
    .container-fulid > .row > .col-m-9 {
        float: left;
        height: 100%;
        width: 45%;
    }
    .container > .row > .col-m-10 {
        float: left;
        height: 100%;
        width: 50%;
    }
    .container-fulid > .row > .col-m-10 {
        float: left;
        height: 100%;
        width: 50%;
    }
    .container > .row > .col-m-11 {
        float: left;
        height: 100%;
        width: 55%;
    }
    .container-fulid > .row > .col-m-11 {
        float: left;
        height: 100%;
        width: 55%;
    }
    .container > .row > .col-m-12 {
        float: left;
        height: 100%;
        width: 60%;
    }
    .container-fulid > .row > .col-m-12 {
        float: left;
        height: 100%;
        width: 60%;
    }
    .container > .row > .col-m-13 {
        float: left;
        height: 100%;
        width: 65%;
    }
    .container-fulid > .row > .col-m-13 {
        float: left;
        height: 100%;
        width: 65%;
    }
    .container > .row > .col-m-14 {
        float: left;
        height: 100%;
        width: 70%;
    }
    .container-fulid > .row > .col-m-14 {
        float: left;
        height: 100%;
        width: 70%;
    }
    .container > .row > .col-m-15 {
        float: left;
        height: 100%;
        width: 75%;
    }
    .container-fulid > .row > .col-m-15 {
        float: left;
        height: 100%;
        width: 75%;
    }
    .container > .row > .col-m-16 {
        float: left;
        height: 100%;
        width: 80%;
    }
    .container-fulid > .row > .col-m-16 {
        float: left;
        height: 100%;
        width: 80%;
    }
    .container > .row > .col-m-17 {
        float: left;
        height: 100%;
        width: 85%;
    }
    .container-fulid > .row > .col-m-17 {
        float: left;
        height: 100%;
        width: 85%;
    }
    .container > .row > .col-m-18 {
        float: left;
        height: 100%;
        width: 90%;
    }
    .container-fulid > .row > .col-m-18 {
        float: left;
        height: 100%;
        width: 90%;
    }
    .container > .row > .col-m-19 {
        float: left;
        height: 100%;
        width: 95%;
    }
    .container-fulid > .row > .col-m-19 {
        float: left;
        height: 100%;
        width: 95%;
    }
    .container > .row > .col-m-20 {
        float: left;
        height: 100%;
        width: 100%;
    }
    .container-fulid > .row > .col-m-20 {
        float: left;
        height: 100%;
        width: 100%;
    }
    .container {
        width: 992px;
    }
}
/*????*/
@media screen and (min-width: 1240px) {
    .container > .row > .col-l-1 {
        float: left;
        height: 100%;
        width: 5%;
    }
    .container-fulid > .row > .col-l-1 {
        float: left;
        height: 100%;
        width: 5%;
    }
    .container > .row > .col-l-2 {
        float: left;
        height: 100%;
        width: 10%;
    }
    .container-fulid > .row > .col-l-2 {
        float: left;
        height: 100%;
        width: 10%;
    }
    .container > .row > .col-l-3 {
        float: left;
        height: 100%;
        width: 15%;
    }
    .container-fulid > .row > .col-l-3 {
        float: left;
        height: 100%;
        width: 15%;
    }
    .container > .row > .col-l-4 {
        float: left;
        height: 100%;
        width: 20%;
    }
    .container-fulid > .row > .col-l-4 {
        float: left;
        height: 100%;
        width: 20%;
    }
    .container > .row > .col-l-5 {
        float: left;
        height: 100%;
        width: 25%;
    }
    .container-fulid > .row > .col-l-5 {
        float: left;
        height: 100%;
        width: 25%;
    }
    .container > .row > .col-l-6 {
        float: left;
        height: 100%;
        width: 30%;
    }
    .container-fulid > .row > .col-l-6 {
        float: left;
        height: 100%;
        width: 30%;
    }
    .container > .row > .col-l-7 {
        float: left;
        height: 100%;
        width: 35%;
    }
    .container-fulid > .row > .col-l-7 {
        float: left;
        height: 100%;
        width: 35%;
    }
    .container > .row > .col-l-8 {
        float: left;
        height: 100%;
        width: 40%;
    }
    .container-fulid > .row > .col-l-8 {
        float: left;
        height: 100%;
        width: 40%;
    }
    .container > .row > .col-l-9 {
        float: left;
        height: 100%;
        width: 45%;
    }
    .container-fulid > .row > .col-l-9 {
        float: left;
        height: 100%;
        width: 45%;
    }
    .container > .row > .col-l-10 {
        float: left;
        height: 100%;
        width: 50%;
    }
    .container-fulid > .row > .col-l-10 {
        float: left;
        height: 100%;
        width: 50%;
    }
    .container > .row > .col-l-11 {
        float: left;
        height: 100%;
        width: 55%;
    }
    .container-fulid > .row > .col-l-11 {
        float: left;
        height: 100%;
        width: 55%;
    }
    .container > .row > .col-l-12 {
        float: left;
        height: 100%;
        width: 60%;
    }
    .container-fulid > .row > .col-l-12 {
        float: left;
        height: 100%;
        width: 60%;
    }
    .container > .row > .col-l-13 {
        float: left;
        height: 100%;
        width: 65%;
    }
    .container-fulid > .row > .col-l-13 {
        float: left;
        height: 100%;
        width: 65%;
    }
    .container > .row > .col-l-14 {
        float: left;
        height: 100%;
        width: 70%;
    }
    .container-fulid > .row > .col-l-14 {
        float: left;
        height: 100%;
        width: 70%;
    }
    .container > .row > .col-l-15 {
        float: left;
        height: 100%;
        width: 75%;
    }
    .container-fulid > .row > .col-l-15 {
        float: left;
        height: 100%;
        width: 75%;
    }
    .container > .row > .col-l-16 {
        float: left;
        height: 100%;
        width: 80%;
    }
    .container-fulid > .row > .col-l-16 {
        float: left;
        height: 100%;
        width: 80%;
    }
    .container > .row > .col-l-17 {
        float: left;
        height: 100%;
        width: 85%;
    }
    .container-fulid > .row > .col-l-17 {
        float: left;
        height: 100%;
        width: 85%;
    }
    .container > .row > .col-l-18 {
        float: left;
        height: 100%;
        width: 90%;
    }
    .container-fulid > .row > .col-l-18 {
        float: left;
        height: 100%;
        width: 90%;
    }
    .container > .row > .col-l-19 {
        float: left;
        height: 100%;
        width: 95%;
    }
    .container-fulid > .row > .col-l-19 {
        float: left;
        height: 100%;
        width: 95%;
    }
    .container > .row > .col-l-20 {
        float: left;
        height: 100%;
        width: 100%;
    }
    .container-fulid > .row > .col-l-20 {
        float: left;
        height: 100%;
        width: 100%;
    }
    .container {
        width: 1240px;
    }
}
/**/
.container{
    height:200px;
    margin: 0 auto;
}

div[class*=col]{
    box-sizing: border-box;
    border:1px solid #000;
}

.xm{
    margin:20px auto 0 auto;
    width: 1240px;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
}
@media screen and (max-width: 1240px) {
    .xm{
        width: 992px;
    }
}
@media screen and (max-width: 992px) {
    .xm{
        width: 500px;
    }
}
.xm p{
    float: left;
    line-height: 50px;
    color: #000;
    font-size: 22px;
}
.xm-1 p{
    line-height: 50px;
}
.xm-1{
    float: right;
    box-sizing: border-box;
    width: 60px;
    height: 30px;
}
.xm-1 span{
    box-sizing: border-box;
    display: block;
    width: 29.5px;
    float: left;
    height:28px;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border:1px solid #ccc ;
}
#li-q,#li-q3,#li-q4{
    height:340px!important;
}
.li-q1{
    height:340px!important;
}
.li-q2{
    border: none!important;
}
img{
    cursor: pointer;
}
.row img{
    display: block;
    margin:0 4px;
    width: 95%;
    height: 100%;
}
.li-q3 img{
    margin-left:0px;
}
.li-q4 img{
   float: right;
    margin:0;
}

.box{
    width: 100%;
    height:3360px;
    background:#F5F5F5;
}
#li-qa,#li-qa1,#li-qa2{
    height: 614px;
    margin-top: 5px;
}

.li-w1{
    height:100%!important;
}
.li-q2 .li-zn{
    width:97%;
    height: 302px;
    background: #fff;
    overflow: hidden;
    border: none!important;
}
.li-q2 .li-zn img,.li-q2 .li-zn1 img{
    width: 220px;
    height: 220px;
    margin:0 5px;
    display: block;
}

.li-q2 .li-zn1{
    width:97%;
    height: 304px;
    background: #fff;
    border: none!important;
    margin-top: 8px;
}
.li-zna{
    width: 100%;
    height: 80px;
    text-align: center;
}
.li-zn:hover,.li-zn1:hover{
    position: relative;
    top: -1px;
    box-shadow: 5px 5px 10px #ccc;
    cursor: pointer;
}
.li-znb{
    color:#FF6700;
}
.xm-2{
    width:265px;
    float: right;
}
.xm-2 a{
    margin:0 15px;
    font-size: 16px;
}
a:hover{
    color:#FF6700;
    text-decoration: underline;
}
.li-znc{
    margin: 0;
}
.li-znc{
    width:100%;
    height: 302px;
}
.li-znc1{
   margin-top: 8px;
}
/**/
.li_xo{
    height: 400px;
}
.li_xo1{
    height: 400px;
    margin: 0;
    border:0px;

}
.li_xo2{
    border:0px!important;
    width: 97%;


}
.li_out,.li_outa,.li_outb,.li_outc,.li_outd{
    width:95%;
    height: 325px;
    position: relative;
    margin: 0 auto;
    background:#fff;
    overflow: hidden;

}
.li_out .li_imgs,.li_outa .li_imgsa,.li_outb .li_imgsb,.li_outc .li_imgsc,.li_outd .li_imgsd{
    width:100%;
    height: 300px;
    font-size: 0px;
    position: absolute;
}
.li_out .li_imgs .li_i,.li_outa .li_imgsa .li_ia,.li_outb .li_imgsb .li_ib,.li_outc .li_imgsc .li_ic,.li_outd .li_imgsd .li_id{
    width: 100%;
    height: 100%;

    position: absolute;
    float:left;
}
.li_out .li_btn,.li_outa .li_btna,.li_outb .li_btnb,.li_outc .li_btnc,.li_outd .li_btnd{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top:-20px;
    z-index: 99;
}
.li_left{
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    float: left;
    opacity: 0.8;
    cursor: pointer;
}
.li_right{
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    float: right;
    opacity: 0.8;
    cursor: pointer;
}
.li_left:hover,.li_right:hover{
    background:#999;
}
.li_num,.li_numa,.li_numb,.li_numc,.li_numd{
    width: 200px;
    height: 30px;
    position: absolute;
    right: 50%;
    margin-right:-150px;
    bottom: -10px;
}
.li_num li,.li_numa li,.li_numb li,.li_numc li,.li_numd li{
    float: left;
    width: 12px;
    height: 12px;
    margin:0 7px;
    background: #999;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor:pointer;
}

.li_num li:hover,.li_numa li:hover,.li_numb li:hover,.li_numc li:hover,.li_numd li:hover{
    background:#fff;
    border:3px solid #ff4a00;
}
.li_num .li_hot,.li_numa .li_hot,.li_numb .li_hot,.li_numc .li_hot,.li_numd .li_hot{
    background:#fff;
    border:3px solid #ff4a00;
}

.li_i,.li_ia,.li_ib,.li_ic,.li_id{
    width: 100%;
    height: 300px;
    font-size: 14px;
    text-align: center;

}
.li_i a,.li_ia a,.li_ib a,.li_ic a,.li_id a{
    font-size: 22px;
    color:#000;
    line-height:50px;
}
.li_i p,.li_ia p,.li_ib p,.li_ic p,.li_id p{
    line-height: 25px;
}
.li_i1,.li_i1a,.li_i1b,.li_i1c,.li_i1d{
    margin: 5px auto;
    width: 100px;
    height: 130px;
}
.li_i1 img,.li_i1a img,.li_i1b img,.li_i1c img,.li_i1d img{
    width: 98px!important;
    height: 130px!important;
}
.li_tu,.li_tua,.li_tub,.li_tuc,.li_tud{
    width: 95%;
    margin-left:6px;
    height: 50px;
    margin-top: 20px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color:#ff4a00;
    border-top:1px solid #ff4a00;
}
.li_tua{
    color:#83C44E;
    border-top:1px solid #83C44E;
}
.li_tub{
    color:#E53935;
    border-top:1px solid #E53935;
}
.li_tuc{
    color:#2196F3;
    border-top:1px solid #2196F3;
}
.li_tud{
    color:mediumvioletred;
    border-top:1px solid mediumvioletred;
}

.li_xo2:hover{
    position: relative;
    top: -1px;
    box-shadow: 5px 5px 10px #ccc;
    cursor: pointer;
}



#xiabu-box{width:1240px;height:156px;background:#fff;margin:20px auto 0 auto;overflow: hidden}
@media screen and (max-width: 1240px) {
    #xiabu-box{
        width: 992px;
    }
}
@media screen and (max-width: 992px) {
    #xiabu-box{
        width: 500px;
    }
}
.xiabu-box-a{width:248px;height:155px;border-bottom:1px solid #dfdfdf;float:left;}
.xiabu-box-a1{width:248px;height:90px;
    background: url(../images/banshou.jpg) no-repeat center center;}
.xiabu-box-a1:hover{background: url(../images/banshou2.jpg)
no-repeat center center; }
.xiabu-box-a2{width:248px;height:65px;text-align:center;}
.xiabu-box-a21{font-size:16px;color:#000000;}
.xiabu-box-b1{width:248px;height:90px;
    background: url(../images/dingshi.jpg) no-repeat center center;}
.xiabu-box-b1:hover{background: url(../images/dingshi2.jpg)
no-repeat center center; }
.xiabu-box-c1{width:248px;height:90px;
    background: url(../images/xunhuan.jpg) no-repeat center center;}
.xiabu-box-c1:hover{background: url(../images/xunhuan2.jpg)
no-repeat center center; }
.xiabu-box-d1{width:248px;height:90px;
    background: url(../images/liwu.jpg) no-repeat center center;}
.xiabu-box-d1:hover{background: url(../images/liwu2.jpg)
no-repeat center center; }
.xiabu-box-e1{width:248px;height:90px;
    background: url(../images/zheye.jpg) no-repeat center center;}
.xiabu-box-e1:hover{background: url(../images/zheye2.jpg)
no-repeat center center; }
/*#xiabu-end*/
/*#wei-star*/
#wei-box{width:1240px;height:155px;margin:0 auto;
    padding-top:45px;overflow: hidden}
.li-w{
    width:980px;
    float: left;
    height: 100%;
}
@media screen and (max-width: 1240px) {
    #wei-box{
        width: 992px;
    }
    .li-w{
        width:780px;
    }
}
@media screen and (max-width: 992px) {
    #wei-box{
        width: 500px;
    }
    .li-w{
        width:200px;
    }
}
.wei-a{width:164px;height:100%;border-right:1px solid #dfdfdf;
    float:left;}
.wei-a1{font-size:18px;color:#333333;display:block;margin-bottom:10px;}
.wei-a2{font-size:12px;color:#6d6d6d;display:block;}
.wei-b{width:169px;height:100%;border-right:1px solid #dfdfdf;
    float:left;padding-left:30px;}
.wei-b1{font-size:18px;color:#333333;display:block;margin-bottom:10px;}
.wei-b2{font-size:12px;color:#6d6d6d;display:block;}
.wei-c{width:200px;height:120px;text-align:center;float:right;margin-top:12px;}
.wei-c1{font-size:20px;color:#000000;}
.wei-c2{font-size:12px;color:#6d6d6d;}
.wei-c3{width:120px;height:30px;background:#ff4a00;text-align:center;
    line-height:30px;margin:0 auto;margin-top:20px;}
.wei-c4:hover{
    color:#000!important;
    text-decoration: none;
}
.wei-c4{font-size:12px;color:#ffffff;}
/*#wei-end*/
/*#di-star*/
#di-box{width:1240px;height:140px;margin:0 auto;padding-top:40px;
   text-align:center;overflow: hidden}
@media screen and (max-width: 1240px) {
    #di-box{
        width: 992px;
    }
}
@media screen and (max-width: 992px) {
    #di-box{
        width: 500px;
    }
}
.di-box-a{margin:0 auto;}
.di-box-b{margin:0 auto;margin-top:10px;}
.di-a{font-weight:normal;font-size:12px;color:#333333;}
.di-b{font-size:12px;color:#333333;}
.di-b:hover{color:#ff4a00;}
.di-box-b2{font-weight:normal;font-size:12px;color:#333333;}
.di-c{width:700px;height:40px;padding-left:540px;margin-top:15px;}
.di-c11{float:left;margin-top:10px;}
.di-c2{float:left;margin-left:20px;}
.di-c21{display:block; width:200px;height:38px;}
.li-zn{
    position: relative;
}

.gd,.gda,.gdb,.gdc,.gdd,.gde,.gdf,.gdg,.gdh,.gdi,.gdj,.gdk,.gdl,.gdm,.gdn,.gdo{
    width: 100%;
    height:70px;
    background:#ff4a00;
    position: absolute;
    bottom:-70px;
    line-height: 20px;
    z-index: 100;
    opacity:0;
    text-align: left;
}
.gd p,.gda p,.gdb p,.gdc p,.gdd p,.gde p,.gdf p,.gdg p,.gdh p,.gdi p,.gdg p,.gdk p,.gdl p,.gdm p,.gdn p,.gdo p,.gdp p{
    margin:5px auto;
    width: 80%;
    color:#fff;
}
.gd1{
    color:#FFC299!important;
}
