.floor{
    margin-top:25px;
}
.floor-head{
    position: relative;
    height:48px;
    border-bottom: 2px solid;
}
.clearfix{
    zoom:1;
}
.floor-head .title{
    float: left;
    width:185px;height:48px;
    padding-left:3px;
    color:#222;
    overflow: hidden;
}
.floor-head .title h3{
    height: 30px;
    font:bold 20px/30px 'Microsoft YaHei';
    overflow: hidden;
}
.floor-head .title h3 b{
    padding-right: 8px;
    font-family: arial;
}
.floor-head .tab{
    position: absolute;
    top:13px;left:188px;
    height:37px;
    overflow: hidden;
}
.floor-head .tab li.on{
    padding:0;
    border:2px solid;
}
.floor-head .tab li{
    float: left;
    width: 120px;
    height:35px;
}
.floor-head .tab li.on a{
    position: absolute;
    top:2px;
    left: 2px;
    height:35px;
    display: block;
    width:120px;
    background:#fff;
    font-size:0;
    text-align: center;
    cursor:pointer;
    /*overflow: hidden;*/
}
.floor-head .tab li.on a em{
    color:#222;
    font-weight: bold;
}
.floor-head .tab li a i{
    display: inline-block;
    width:4px;height:4px;
    margin-right:5px;
    background:#222;
    border-radius: 2px;
    vertical-align: middle;
}
.floor-head .tab li a em{
    display: inline-block;
    font:14px/35px 'Microsoft YaHei';
    vertical-align: middle;
    color:#222;
}
.floor-head .links{
    width:750px;
    float: right;
    height:30px;
    margin-top:18px;
    font-size:0;
    text-align: right;
    overflow: hidden;
}
.floor-head .links a{
    display: inline-block;
    margin-left:16px;
    color:#666;
    font:12px/30px 'Microsoft YaHei';
    white-space: nowrap;
}
.floor-head .links a:hover{
    color:#ff6b80;
    text-decoration: underline;
}
.floor-main{
    position: relative;
    height:440px;
    overflow: hidden;
}

.floor-main .side{
    position: relative;
    float: left;
    width:190px;height:440px;
    overflow: hidden;
}
.floor-main .side .big img{
    display: block;
    width:190px;height:270px;
}
.floor-main .side .entrances{
    position: absolute;
    top:209px;left:10px;
    width:175px;height:61px;
    overflow: hidden;
}
.floor-main .side .entrances a{
    position: relative;
    float: left;
    width:85px;
    height:30px;
    margin:0 1px 1px 0;
    line-height:30px;
    color:#fff;
    overflow: hidden;
}
.floor-main .side .entrances a .bg{
    position: absolute;
    z-index:1;
    left:0;top:0;
    width:171px;height:30px;
    opacity: .8;
    filter:alpha(opacity=80);
}
.floor-main .side .entrances a em{
    position: relative;
    z-index:2;
    font-family: 'Microsoft YaHei';
}
.floor-main .side .brands{
    width:170px;height:159px;
    margin:0 auto;
    padding-top:1px;
    background:#fff;
    overflow: hidden;
}
.floor-main .side .brands li{
    float: left;
    width:85px;height:53px;
}
.floor-main .side .brands li.item1,.floor-main .side .brands li.item3,.floor-main .side .brands li.item5{
    border-bottom:1px solid #eee;
}
.floor-main .side .brands li.item2,.floor-main .side .brands li.item4,.floor-main .side .brands li.item6{
    margin-right:-5px;
    border-bottom:1px solid #eee;
    border-left:1px solid #eee;
}
.floor-main .side .brands li a{
    display: block;
    height:41px;
    padding-top:12px;
}
.floor-main .side .brands li img{
    display: block;
    width:80px;height:30px;
    margin:0 auto;
}
.floor-main .main-col{
    width:999px;
    float: left;
    height:439px;
    margin-right:-10px;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    overflow: hidden;
}
.floor-main .col1{
    float: left;
    width:400px;height:439px;
    border-bottom:1px solid #eee;
    overflow: hidden;
}
.floor-main .col1 img{
    display: block;
    width:380px;height:420px;
    margin:10px 0 0 10px;
}
.floor-main .col1:hover{
    opacity: .8;
}
.floor-main .col2{
    position: relative;
    z-index:2;
    float: left;
    width:405px;height:439px;
    margin-right:-20px;
    border-bottom:1px solid #eee;
    border-left:1px solid #eee;
    overflow: hidden;
}
.floor-main .col2 li{
    float: left;
    width:199px;height:219px;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    overflow: hidden;
}
.floor-main .col2 li:hover{
    opacity: .8;
}
.floor-main .col3{
    float: right;
    width:199px;height:439px;
    margin-left: -10px;
    border-bottom:1px solid #eee;
    border-left:1px solid #eee;
    background:#f5f5f5;
    overflow: hidden;
}
.floor-main .col3 li{
    height:146px;
    border-bottom:1px solid #eee;
    font-size:0;
    overflow: hidden;
}
.floor-main .col3 li:hover{
    opacity: .8;
}
.floor-main .col3 li img{
    display: block;
    width:200px;
    height:147px;
}
.floor1 .floor-head,.floor1 .floor-head .tab li.on{
    border-color:#ff6b80;
}
.floor2 .floor-head,.floor2 .floor-head .tab li.on{
    border-color:#61b3ff;
}
.floor3 .floor-head,.floor3 .floor-head .tab li.on{
    border-color:#aed55a;
}
.floor4 .floor-head,.floor4 .floor-head .tab li.on{
    border-color:#ff9901;
}
.floor5 .floor-head,.floor5 .floor-head .tab li.on{
    border-color:#ff6565;
}
.floor6 .floor-head,.floor6 .floor-head .tab li.on{
    border-color:#fb7292;
}
.floor7 .floor-head,.floor7 .floor-head .tab li.on{
    border-color:#6d93ff;
}

.floor1 .floor-main .side{
    background: #ffd4c1;
}
.floor2 .floor-main .side{
    background: #c4e6e7;
}
.floor3 .floor-main .side{
    background: #f0f78b;
}
.floor4 .floor-main .side{
    background: #f6f2b1;
}
.floor5 .floor-main .side{
    background: #f0d9ba;
}
.floor6 .floor-main .side{
    background: #ead3ed;
}
.floor7 .floor-main .side{
    background: #c9baf0;
}

.floor1 .floor-main .side .entrances a .bg{
    background: #cf3c47;
}
.floor2 .floor-main .side .entrances a .bg{
    background: #50abff;
}
.floor3 .floor-main .side .entrances a .bg{
    background: #87b329;
}
.floor4 .floor-main .side .entrances a .bg{
    background: #ff9901;
}
.floor5 .floor-main .side .entrances a .bg{
    background: #ff5d47;
}
.floor6 .floor-main .side .entrances a .bg{
    background: #fb7292;
}
.floor7 .floor-main .side .entrances a .bg{
    background: #50abff;
}
